In [66]:
import numpy as np
import pandas as pd

In [67]:
X = pd.read_csv(r'C:\Users\Parker\Documents\GitHub\ai_study\machine_learning_stanford\week2\programming_assignment\ex1data2.txt', header=None)
X.head()

      0  1       2
0  2104  3  399900
1  1600  3  329900
2  2400  3  369000
3  1416  2  232000
4  3000  4  539900

In [69]:
# normalize features
X = (X - np.mean(X)) / np.std(X)
X.head()

          0         1         2
0  0.131415 -0.226093  0.480890
1 -0.509641 -0.226093 -0.084983
2  0.507909 -0.226093  0.231097
3 -0.743677 -1.554392 -0.876398
4  1.271071  1.102205  1.612637

In [75]:
def mean_squared_error(X, theta):
    m = len(X)  # amount of training examples
    y = X[:][2] # vector of all y values
    return 1/(2*m) * sum(((np.dot(X,theta) - y).transpose() * (np.dot(X, theta) - y)) **2)

In [76]:
# initalize paramater values
theta = np.array([0, 0, 0])

# compute cost of model with inital parameters
mean_squared_error(X, theta)

1.6429334168682075

In [116]:
def gradient_descent(X, theta, learn_rate, iterations):
    
    m = len(X)  # amount of training examples
    y = X[:][2] # vector of all y values
    
    for i in range(iterations):
        theta = theta - learn_rate * (1/m) * np.dot(X.T, np.dot(X,theta) - y)
        
    return theta
    
    
learn_rate = 0.01
iterations = 50

best_theta = gradient_descent(X, theta, learn_rate, iterations)

In [117]:
mean_squared_error(X, best_theta)

0.04758626389171174

Wow this felt quite easy to implement. Very cool! I'm curious to see what this process would look like if we had a non-linear function!